<a href="https://colab.research.google.com/github/GarganoNicolas/powerBI/blob/main/powerBIcourse_cleaningData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd

In [90]:
feedback_df = pd.read_csv('https://raw.githubusercontent.com/GarganoNicolas/powerBI/main/csv/C-M2stNOT1-WNd5qAlCQIg_0ba40cf194a642bab2228f41aeba1ee1_Customer-Feedback.csv')
inventory_df = pd.read_csv('https://raw.githubusercontent.com/GarganoNicolas/powerBI/main/csv/mSDG-FdSQbeLR-p-am9nOg_36e1a27d55684b2089e9785125cc07e1_Inventory.csv')
sales_df = pd.read_csv('https://raw.githubusercontent.com/GarganoNicolas/powerBI/main/csv/xuhZl0LMTbOwBfBgb_usUg_3e0e77c047db401a88c3edd462d11ce1_Sales.csv')

In [91]:
feedback_df.head(5)

   FeedbackID  ProductID  CustomerID FeedbackScore FeedbackDate
0         1.0          1           1           4.5     23-13-05
1         2.0          2           2           3.8   06/04/2023
2         3.0          3           3           4.2   07/04/2023
3         NaN          4           4        number   2023-20-10
4         5.0          5           5             4   09/04/2023

In [92]:
inventory_df.head(5)

,ProductID,ProductName,Category,StockLevel,RestockingFrequency,LastRestocked
0,1,Mountain-X100,Mountain Bike,50,30 d,2023-03-30
1,2,Roadster-200,Road Bike,75,45 days,2023-03-20
2,3,Touring-T50,Touring Bike,25,60 days,2023-03-10
3,4,NaN,Commuter Bike,35,30 d,2023-15-01
4,5,Kidz-K50,Kid's Bike,20,45 days,2023-04-02

In [93]:
sales_df.head(5)

   TransactionID  ProductID  CustomerID  Quantity SalesAmount TransactionDate
0            1.0          1           1         2         600      2023-04-01
1            2.0          2           2         1         NaN      2023-04-02
2            NaN          3           3         3         NaN      2023-04-03
3            4.0          4           4         1         100      2023-04-04
4            5.0          5           5         4        1600      2023-04-05

## Sales Dataset: What is the total sales value per product?
First, you are presented with the Sales dataset. It needs to be more organized. It has missing TransactionIDs, SalesAmounts, and text in place of numbers. The analysis question to answer is: “What is the total sales value per product?” To answer this, you'll have to fill in missing SalesAmounts, transform textual entries into numbers, and then aggregate the sales by product. The transformations you implement here will directly feed into the sales trends that Adventure Works will soon uncover.

Step 1: Addressing Missing TransactionIDs
Select the header of the TransactionID column to select the column.

On the Excel ribbon, in the Data tab, select the Filter button.

Select the drop-down arrow on the TransactionID column header and uncheck the box next to Blanks.

Ensure all entries in the column are treated as numerical by setting the data type to Number.

In [94]:
sales_df['TransactionID'].dtype

dtype('float64')

In [95]:
sales_df['TransactionID']

0      1.0
1      2.0
2      NaN
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9      NaN
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
30    31.0
31    32.0
32    33.0
33    34.0
34    35.0
35    36.0
36    37.0
37    38.0
38    39.0
39    40.0
40    41.0
41    42.0
42    43.0
43    44.0
44    45.0
45    46.0
46    47.0
47    48.0
48    49.0
49    50.0
50    51.0
51    52.0
Name: TransactionID, dtype: float64

In [96]:
sales_df['TransactionID'].fillna(method='ffill', inplace=True)

In [97]:
sales_df['TransactionID']

0      1.0
1      2.0
2      2.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9      9.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
30    31.0
31    32.0
32    33.0
33    34.0
34    35.0
35    36.0
36    37.0
37    38.0
38    39.0
39    40.0
40    41.0
41    42.0
42    43.0
43    44.0
44    45.0
45    46.0
46    47.0
47    48.0
48    49.0
49    50.0
50    51.0
51    52.0
Name: TransactionID, dtype: float64

In [98]:
sales_df['TransactionID'] = sales_df['TransactionID'].astype(int)

In [99]:
sales_df['TransactionID']

0      1
1      2
2      2
3      4
4      5
5      6
6      7
7      8
8      9
9      9
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
Name: TransactionID, dtype: int64

Step 2: Dealing with SalesAmount anomalies
Select the header of the SalesAmount column to select the column.

Manually go through the column to identify and replace non-numeric values like four-hundred. Delete the existing value and type 400 (or the appropriate numeric value).

Replace any missing SalesAmounts with 0 so that these entries are not excluded from the analysis. To replace null or blank cells with 0, press CTRL + H to bring up the Find and Replace dialog box. The Sales data is now clean and consistent, ready for further analysis in Power BI.

In [100]:
sales_df['SalesAmount']

0              600
1              NaN
2              NaN
3              100
4             1600
5              800
6              NaN
7              300
8              500
9             1500
10    four-hundred
11             600
12             800
13             750
14            1200
15             450
16             700
17             350
18             900
19             200
20            1000
21             600
22             150
23             750
24            1600
25             200
26             600
27             450
28             300
29             500
30            1500
31             400
32             600
33             800
34             750
35            1200
36             450
37             700
38             350
39             900
40             200
41            1000
42             600
43             150
44             100
45             800
46             450
47            1600
48             300
49             500
50            1500
51             400
Name: SalesAmount, dtype: object

In [101]:
sales_df['SalesAmount'].replace({'four-hundred':400}, inplace=True)
sales_df['SalesAmount'].fillna(0, inplace=True)
sales_df['SalesAmount']

0      600
1        0
2        0
3      100
4     1600
5      800
6        0
7      300
8      500
9     1500
10     400
11     600
12     800
13     750
14    1200
15     450
16     700
17     350
18     900
19     200
20    1000
21     600
22     150
23     750
24    1600
25     200
26     600
27     450
28     300
29     500
30    1500
31     400
32     600
33     800
34     750
35    1200
36     450
37     700
38     350
39     900
40     200
41    1000
42     600
43     150
44     100
45     800
46     450
47    1600
48     300
49     500
50    1500
51     400
Name: SalesAmount, dtype: object

##Inventory Dataset: What is the stock level for each bike category?
Next up is the Inventory dataset. Here, you notice missing ProductNames and Categories, and inconsistencies in RestockingFrequency. The task is to figure out: What is the stock level for each bike category? To discover this, you need to standardize Category and fill in missing product details. The transformed data will subsequently support improved inventory management strategies at Adventure Works.

Step 1: Addressing Missing ProductName
Similar to handling missing TransactionIDs in Sales data, you will filter out any rows with missing ProductNames, ensuring your analysis only includes complete records. Select the ProductName column.

Go to the Data tab and select Filter.

Select the drop-down arrow on the ProductName column and deselect Blanks. Click OK.

In [102]:
inventory_df.columns

Index(['ProductID', 'ProductName', 'Category', 'StockLevel',
       'RestockingFrequency', 'LastRestocked'],
      dtype='object')

In [103]:
inventory_df['ProductName'].unique()

array(['Mountain-X100', 'Roadster-200', 'Touring-T50', nan, 'Kidz-K50',
       'Trail-T200', 'Mountain-X200', 'Roadster-300', 'Touring-T100',
       'Commuter-C300', 'Kidz-K100', 'Trail-T300', 'Mountain-X300',
       'Roadster-400', 'Touring-T200', 'Commuter-C400', 'Kidz-K150',
       'Trail-T400', 'Mountain-X400', 'Roadster-500', 'Touring-T300',
       'Commuter-C500', 'Kidz-K200', 'Trail-T500', 'Mountain-X500',
       'Roadster-600', 'Touring-T400', 'Commuter-C600', 'Kidz-K250',
       'Trail-T600', 'Mountain-X600', 'Roadster-700', 'Touring-T500',
       'Commuter-C700', 'Kidz-K300', 'Trail-T700', 'Mountain-X700',
       'Roadster-800', 'Touring-T600', 'Commuter-C800', 'Kidz-K350',
       'Trail-T800', 'Mountain-X800', 'Roadster-900', 'Touring-T700',
       'Commuter-C900', 'Kidz-K400', 'Trail-T900', 'Mountain-X900',
       'Roadster-1000', 'Touring-T800', 'Commuter-C1000'], dtype=object)

In [104]:
inventory_df['ProductName'].isna()

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
Name: ProductName, dtype: bool

Step 2: Handling Missing Category
Next, you start evaluating the missing Category data. Select the Category column.

Manually check the column and evaluate the missing entries.

Replace any missing with No Category Provided, press CTRL + H to bring up the Find and Replace dialog box.

In [105]:
inventory_df['ProductName'].fillna('No Category Provided', inplace=True)
inventory_df['ProductName']

0            Mountain-X100
1             Roadster-200
2              Touring-T50
3     No Category Provided
4                 Kidz-K50
5               Trail-T200
6            Mountain-X200
7             Roadster-300
8             Touring-T100
9            Commuter-C300
10               Kidz-K100
11              Trail-T300
12           Mountain-X300
13            Roadster-400
14            Touring-T200
15           Commuter-C400
16               Kidz-K150
17              Trail-T400
18           Mountain-X400
19            Roadster-500
20            Touring-T300
21           Commuter-C500
22               Kidz-K200
23              Trail-T500
24           Mountain-X500
25            Roadster-600
26            Touring-T400
27           Commuter-C600
28               Kidz-K250
29              Trail-T600
30           Mountain-X600
31            Roadster-700
32            Touring-T500
33           Commuter-C700
34               Kidz-K300
35              Trail-T700
36           Mountain-X700
37            Roadster-800
38            Touring-T600
39           Commuter-C800
40               Kidz-K350
41              Trail-T800
42           Mountain-X800
43            Roadster-900
44            Touring-T700
45           Commuter-C900
46               Kidz-K400
47              Trail-T900
48           Mountain-X900
49           Roadster-1000
50            Touring-T800
51          Commuter-C1000
Name: ProductName, dtype: object

Step 3: Standardizing RestockingFrequency
Inconsistencies in RestockingFrequency can also hinder accurate analysis. Select the RestockingFrequency column.

Press CTRL + H to open the Find and Replace dialog box.

In the Find what field, type 30 d, in the Replace with field, type 30 days, and select Match entire cell contents from the Options menu. Select Replace All. With the Inventory data clean and standardized, you can easily answer the business question What is the stock level for each bike category? when loaded into Power BI.

In [106]:
inventory_df['RestockingFrequency'].unique()

array(['30 d', '45 days', '60 days', '30 days'], dtype=object)

In [107]:
inventory_df['RestockingFrequency']

0        30 d
1     45 days
2     60 days
3        30 d
4     45 days
5     60 days
6     30 days
7     45 days
8     60 days
9     30 days
10    45 days
11    60 days
12    30 days
13    45 days
14    60 days
15    30 days
16    45 days
17    60 days
18    30 days
19    45 days
20    60 days
21    30 days
22    45 days
23    60 days
24    30 days
25    45 days
26    60 days
27    30 days
28    45 days
29    60 days
30    30 days
31    45 days
32    60 days
33    30 days
34    45 days
35    60 days
36    30 days
37    45 days
38    60 days
39    30 days
40    45 days
41    60 days
42    30 days
43    45 days
44    60 days
45    30 days
46    45 days
47    60 days
48    30 days
49    45 days
50    60 days
51    30 days
Name: RestockingFrequency, dtype: object

In [108]:
inventory_df['RestockingFrequency'].replace({'30 d':'30 days'}, inplace=True)
inventory_df['RestockingFrequency']

0     30 days
1     45 days
2     60 days
3     30 days
4     45 days
5     60 days
6     30 days
7     45 days
8     60 days
9     30 days
10    45 days
11    60 days
12    30 days
13    45 days
14    60 days
15    30 days
16    45 days
17    60 days
18    30 days
19    45 days
20    60 days
21    30 days
22    45 days
23    60 days
24    30 days
25    45 days
26    60 days
27    30 days
28    45 days
29    60 days
30    30 days
31    45 days
32    60 days
33    30 days
34    45 days
35    60 days
36    30 days
37    45 days
38    60 days
39    30 days
40    45 days
41    60 days
42    30 days
43    45 days
44    60 days
45    30 days
46    45 days
47    60 days
48    30 days
49    45 days
50    60 days
51    30 days
Name: RestockingFrequency, dtype: object

## Customer Feedback Dataset: What is the average feedback score for each product?
Finally, you check the Customer Feedback dataset. Here, FeedbackScores are irregular, dates are erroneous, and some feedback entries are missing altogether. Your analysis question is: What is the average feedback score for each product? This question requires you to correct the irregularities in FeedbackScores, fix erroneous dates, and determine how to treat missing feedback entries. These transformations will give Adventure Works the knowledge it needs to enhance customer satisfaction.

Step 1: Addressing Missing FeedbackID
Begin by filtering out any rows with missing FeedbackIDs in the customer feedback data. Similar to missing TransactionIDs and ProductNames, missing FeedbackIDs can render the corresponding data points anonymous and potentially unreliable. Select the FeedbackID column.

On the Data tab, select Filter.

Select the drop-down arrow on the FeedbackID column and deselect Blanks. Click OK.

In [109]:
feedback_df.columns

Index(['FeedbackID', 'ProductID', 'CustomerID', 'FeedbackScore',
       'FeedbackDate'],
      dtype='object')

In [110]:
feedback_df['FeedbackID']

0      1.0
1      2.0
2      3.0
3      NaN
4      5.0
5      6.0
6      7.0
7      8.0
8      NaN
9     10.0
10    11.0
11    12.0
12    13.0
13    14.0
14    15.0
15    16.0
16    17.0
17    18.0
18    19.0
19    20.0
20    21.0
21    22.0
22    23.0
23    24.0
24    25.0
25    26.0
26    27.0
27    28.0
28    29.0
29    30.0
30    31.0
31    32.0
32    33.0
33    34.0
34    35.0
35    36.0
36    37.0
37    38.0
38    39.0
39    40.0
40    41.0
41    42.0
42    43.0
43    44.0
44    45.0
45    46.0
46    47.0
47    48.0
48    49.0
49    50.0
50    51.0
51    52.0
Name: FeedbackID, dtype: float64

Step 2: Dealing with inconsistent FeedbackScore
Deal with inconsistencies in the FeedbackScore column by setting the data type to Number, ensuring all scores are treated as numerical values.

Manually go through the column to identify and replace non-numeric values like four-comma-seven. To do this, double-click on the cell with the non-numeric value, delete the existing value and type 4,7 (or the appropriate numeric value).

In [111]:
feedback_df['FeedbackID'].fillna(method='ffill', inplace=True)
feedback_df['FeedbackID'] = feedback_df['FeedbackID'].astype(int)
feedback_df['FeedbackID']

0      1
1      2
2      3
3      3
4      5
5      6
6      7
7      8
8      8
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
Name: FeedbackID, dtype: int64

Step 3: Invalid dates in the FeedbackDate column
Next, address erroneous dates in the FeedbackDate column. Select the FeedbackDate column.

Set the data type to Date on the ribbon, which will force Excel to interpret all entries as dates.

Manually check the column to identify and replace non-date values like five May 2023. To do this, double-click on the cell with the non-numeric value, delete the existing value and type 05 May 2023 (or the appropriate numeric value). Evaluation of the Customer Feedback data is now complete and prepared for future analysis in Power BI.

In [112]:
feedback_df['FeedbackDate']

0       23-13-05
1     06/04/2023
2     07/04/2023
3     2023-20-10
4     09/04/2023
5     10/04/2023
6     11/04/2023
7     12/04/2023
8     13/04/2023
9     14/04/2023
10    2025-30-19
11    16/04/2023
12    17/04/2023
13    18/04/2023
14    19/04/2023
15    20/04/2023
16    21/04/2023
17    22/04/2023
18    23/04/2023
19    24/04/2023
20    25/04/2023
21    26/04/2023
22    27/04/2023
23    28/04/2023
24    29/04/2023
25    30/04/2023
26    01/05/2023
27    02/05/2023
28    03/05/2023
29    04/05/2023
30    05/05/2023
31    06/05/2023
32    07/05/2023
33    08/05/2023
34    09/05/2023
35    10/05/2023
36    11/05/2023
37    12/05/2023
38    13/05/2023
39    14/05/2023
40    15/05/2023
41    16/05/2023
42    17/05/2023
43    18/05/2023
44    19/05/2023
45    20/05/2023
46    21/05/2023
47    22/05/2023
48    23/05/2023
49    24/05/2023
50    25/05/2023
51    26/05/2023
Name: FeedbackDate, dtype: object

In [113]:
feedback_df['FeedbackDate'] = feedback_df['FeedbackDate'].replace({
    '2023-20-10': '20-10-2023',
    '23-13-05': '13-05-2023'
})
# 10    2025-30-19  NOT A DATE IN THE EARTH, AT LEAST IN THE OCCIDENT SIDE OF THE WOLRD

In [114]:
feedback_df['FeedbackDate'] = pd.to_datetime(feedback_df['FeedbackDate'], errors='coerce')
feedback_df['FeedbackDate']

<ipython-input-114-96d5e5837813>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  feedback_df['FeedbackDate'] = pd.to_datetime(feedback_df['FeedbackDate'], errors='coerce')

0    2023-05-13
1    2023-06-04
2    2023-07-04
3    2023-10-20
4    2023-09-04
5    2023-10-04
6    2023-11-04
7    2023-12-04
8    2023-04-13
9    2023-04-14
10          NaT
11   2023-04-16
12   2023-04-17
13   2023-04-18
14   2023-04-19
15   2023-04-20
16   2023-04-21
17   2023-04-22
18   2023-04-23
19   2023-04-24
20   2023-04-25
21   2023-04-26
22   2023-04-27
23   2023-04-28
24   2023-04-29
25   2023-04-30
26   2023-01-05
27   2023-02-05
28   2023-03-05
29   2023-04-05
30   2023-05-05
31   2023-06-05
32   2023-07-05
33   2023-08-05
34   2023-09-05
35   2023-10-05
36   2023-11-05
37   2023-12-05
38   2023-05-13
39   2023-05-14
40   2023-05-15
41   2023-05-16
42   2023-05-17
43   2023-05-18
44   2023-05-19
45   2023-05-20
46   2023-05-21
47   2023-05-22
48   2023-05-23
49   2023-05-24
50   2023-05-25
51   2023-05-26
Name: FeedbackDate, dtype: datetime64[ns]